*{
	margin : 0;
	padding : 0;
    list-style: none;
}
a{
	font-size: 12px;
	color: #999999;
	text-decoration: none;
}
/* 头部部分 */
header{
	width: 100%;
	height: 32px;
	background: #f2f2f2;
	border-bottom: 1px solid #e5e5e5;
}
.dingjs{
    width: 100%;
    height: 50px;
    background: #dd2a2c;
    background-size: 100% 50px;
    z-index: 1000;
    margin : 0 auto;
    position: fixed;
    top: 0px;
}
.dingjs1{
  width: 1230px;
  padding: 0 69px;
  height: 100%;
  /* background: pink; */
  margin: 0 auto;
}
.dingjs11{
  width: 147px;
  height: 100%;
  background: url('../img/2017-05-09_160550_03.png') no-repeat center center;
  background-size: 147px 50px;
  float: left;
}
.dingjs12{
  width: 800px;
  height: 50px;
  /* background: yellowgreen; */
  float: left;
  margin-left: 98px;
}
.dingjs121{
  width: 400px;
  height: 30px;
  margin-top: 12px;
  padding: 0 20px;
  border: 0;
  float: left;
  outline: medium;
}
.dingjs122{
  width: 89px;
  height: 30px;
  background: #c40000;
  border: 0;
  color: #ffffff;
  font-size: 16px;
  margin-top: 12px;
  float: left;
  outline: medium;
}
.tou{
	width: 900px;
	height: 100%;
	background: #f2f2f2;
	margin : 0 auto;
}
header li{	
	padding:6px 10px 12px 0;
	float: left;
}
header li .to:hover{
	color: #dd2727;
}
.tou1{
	width: 676px;
	height: 100%;
	background: #f2f2f2;
	float: right;

}
.sb11{
  width: 0;
  height: 0;
  border-top: 3px solid #bbb;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-top: 15px;
  float: right;
}
.tou11{
	width: 55px;
	height: 100%;
	background: #f2f2f2;
	float: left;
  position: relative;
}
.tou11js{
  width: 96px;
  height: 58px;
  background: url('../img/2017-05-09_114209.png') no-repeat center center;
  background-size: 96px 58px;
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
}
.tou11:hover .tou11js{
  display: block;
}
.tou11:hover .sb11{
  transition-duration: 0.6s;
  transform-origin: 3px 2px;
  transform: rotate(180deg);
}
.tou12{
	width: 106px;
	height: 100%;
	background: #f2f2f2;
	float: left;
}
.tou13{
	width: 96px;
	height: 100%;
	background: #f2f2f2;
	float: left;
}
.tou14{
	width: 60px;
	height: 100%;
	background: #f2f2f2;
	float: left;
  position: relative;
}
.tou14js{
  width: 85px;
  height: 57px;
  background: url('../img/2017-05-09_114423.png') no-repeat center center;
  background-size: 85px 57px;
  z-index: 600;
  display: none;
  position: absolute;
  top: 32px;
  left: 0;
}
.tou14:hover .tou14js{
  display: block;
}
.tou14:hover .sb11{
  transition-duration: 0.6s;
  transform-origin: 3px 2px;
  transform: rotate(180deg);
}
.tou15{
	width: 64px;
	height: 100%;
	background: #f2f2f2;
	float: left;
  position: relative;
}
.tou15js{
  width: 178px;
  height: 235px;
  background: url('../img/2017-05-09_114853.png') no-repeat center center;
  background-size: 178px 235px;
  display: none;
  z-index: 600;
  position: absolute;
  top: 25px;
  right: -50px;
}
.tou15:hover .tou15js{
  display: block;
}
.tou16{
	width: 56px;
	height: 100%;
	background: #f2f2f2;
	float: left;
}
.tou17{
	width: 56px;
	height: 100%;
	background: #f2f2f2;
	float: left;
}
.tou18{
	width: 66px;
	height: 100%;
	background: #f2f2f2;
	float: left;
  position: relative;
}
.tou18:hover .sb11{
  transition-duration: 0.6s;
  transform-origin: 3px 2px;
  transform: rotate(180deg);
}
.tou18js{
  width: 145px;
  height: 177px;
  background: url('../img/2017-05-09_115117.png') no-repeat center center;
  background-size: 145px 177px;
  display: none;
  z-index: 600;
  position: absolute;
  top: 32px;
  right: 0;
}
.tou18:hover .tou18js{
  display: block;
}
.tou19{
	width: 100px;
	height: 100%;
  display: none;
	background: #f2f2f2;
	float: left;
  position: relative;
}
.tou19js{
  width: 1200px;
  height: 253px;
  background: url('../img/2017-05-09_115307.png') no-repeat center center;
  background-size: 1200px 253px;
  position: absolute;
  display: none;
  z-index: 600;
  top: 32px;
  right: 0;
}
.tou19:hover .sb1{
  transition-duration: 0.6s;
  transform-origin: 3px 2px;
  transform: rotate(180deg);
}
.tou19:hover .tou19js{
  display: block;
}
.t1{
  line-height: 33px;
  float: left;
}
.sb1{
  width: 0;
  height: 0;
  border-top: 3px solid #bbb;
  border-right: 3px solid transparent;
  border-left: 3px solid transparent;
  border-bottom: 3px solid transparent;
  margin-top: 15px;
}
.tou1 .t{
	line-height: 33px;
  float: right;
}
.tou1 .t:hover{
	color: #dd2727;
}
.tou1 .t1:hover{
  color: #dd2727;
}




@font-face {
    font-family: 'iconfont';  /* project id 262595 */
    src: url(http://at.alicdn.com/t/font_eu3dpjnmorh33di.eot);
    src: url(http://at.alicdn.com/t/font_eu3dpjnmorh33di.eot?#iefix) format('embedded-opentype'),
    url(http://at.alicdn.com/t/font_eu3dpjnmorh33di.woff) format('woff'),
    url(http://at.alicdn.com/t/font_eu3dpjnmorh33di.ttf) format('truetype'),
    url(http://at.alicdn.com/t/font_eu3dpjnmorh33di.svg#iconfont) format('svg');
}
/* 导航部分 */
nav{
  width: 1200px;
	height: 130px;
  overflow: hidden;
  margin : 0 auto;
}
.dao{
  width: 200px;
	height: 100%;
	/* background: #ffffff; */
	margin-left: 0;
	float: left;  
}
.dao1{
	/* width: 611px; */
	height: 78px;
	/* background: white; */
	float: left;
}
.dao2{
  outline: medium;
  padding-left: 10px;
	width: 205px;
	height: 36px;
	border: 2px solid #dd2727;
	margin-top: 40px;
  margin-left: 130px;
}
.dao3{
	width: 128px;
	height: 36px;
	background: #dd2727;
	border: 2px solid #dd2727;
	margin-top: 40px;
	float: left;
}
.dao3 .d{
	margin-left: 43px;
	line-height: 36px;
	color: #ffffff;
}
.dao4{
	width: 742px;
	height: 31px;
	background: white;
	float: left;
}
.dao5{
	width: 116px;
	height: 100%;
	background: #ffffff;
	float: left;
}
.dao6{
	width: 626px;
	height: 100%;
	background: #ffffff;
	float: left;
}
.dao6 li{
    float: left;
}
.dao6 li a{
	padding: 0px 14px 0 14px; 
	border-right: 1px solid #cccccc;
}
.dao6 li .qubian{
  border: 0;
}
.dao6 li .da{
	color: #dd2727;
}
.dao6 li .shan{
  display: none;
}
.dao6 li .qu{
	border-right: 0;
}

/*banner从此开始*/

     .banner{
        width: 100%;
        height: auto;
        background: #d9123d;
        /* border:1px solid black; */
        margin:0 auto;
        
     }

           .banner  main{

               /* width: 1238px; */
               height: auto;
               margin: 0 auto;


            }

           .nav2{
               /* width: 1200px; */
               height: 36px;
               background: #dd2727;

           }


           .daohang{
               width: 1000px;
               height: 36px;
               margin: 0 auto;
           }

           .daohang  .daohang-1{


               width: 200px;
               height: 36px;
               line-height: 36px;
               float: left;
               font-family: 'iconfont';
               font-size: 16px;
               padding-left: 15px;
               box-sizing: border-box;
               color: #ffffff;
               background: #c60a0a;

           }

           .daohang  li a{

               font-family: 'iconfont';
               width: auto;
               height: 36px;
               line-height: 36px;
               float: left;
               font-size: 16px;
               color: #ffffff;
               margin-right:  31px;









           }

.daohang  li:nth-child(2)   a{
  z-index: 10;
   margin-left: 30px;

}
.daohang  li:last-child  a{
   margin-right: 40px;
}
.nav2 .daohang li:nth-child(9){
  display: none;
}
.nav2 .daohang li:nth-child(10){
  display: none;
}
.nav2 .daohang li:last-child{
  display: none;
}



           .banner-box{
               width: 978px;
               height: 500px;
               /* background: #b64a01; */

           }

           .banner-img{


               /* padding: 0 69px; */
               width: 978px;
               height:500px; 
               margin: 0 auto;
               position: relative;


           }


      .banner1{
        width: 968px;
        height: 500px;
        /* background: #b64a01; */
        overflow: hidden;
        /* z-index: 501; */
        /* border:1px solid black; */
        position: absolute;
        top: 0;
        margin:0 auto;
     }

    .imgbox{
      width: 978px;
      /* overflow: hidden; */
      position: relative;
      top: 0px;
      left: 0px;
    }
     .imgs{
      width:978px;
      height:500px;font-size: 50px;text-align: center;line-height: 400px;
      position: absolute;
      left: 0;
      top:0;
    }
    .imgs img{
        width: 100%;
        height: 100%;
    }
    .anniu1{
      float: left;
      width: 300px;
      z-index: 2;
      height:20px;
      position: absolute;
      top: 466px;
      left: 500px
    }
    .anniu1 .dingwei{
      width: 16px;height: 16px;border-radius:50%;background: #9ba2a9;
      float: left;
      border : 2px solid #9ba2a9;
      margin-right: 30px;
      font-size: 20px;
      text-align: center;line-height: 40px;color:red;
    }


   .dingwei  div:last-child{
       margin-right: 0;
   }


   .dingwei div:hover{

       background: #eae5e2;

   }
.banner  img{
     display: block;
     width: 1190px;
     height: 100%;
}
/* 文章侧栏 */
aside{
  width: 200px;
  height: 100%;
  background: #cad5dc;
  float: left;
  z-index: 2;
  position: relative;
}
.asidejs{
  width: 1062px;
  height: 506px;
  /* background: pink; */
  z-index: 1;
  position: absolute;
  top: -4px;
  left: -10px;
}
.asidejs1{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_052702.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs2{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_060810.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs3{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_061021.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs4{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_061152.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs5{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_061404.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs6{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_062100.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs7{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_062234.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs8{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_062411.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs9{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_062630.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs10{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_062753.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs11{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_063016.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs12{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_063427.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs13{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_063636.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs14{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_064021.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs15{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_064105.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
.asidejs16{
  width: 852px;
  height: 500px;
  background: url('../img/2017-05-08_064155.png') no-repeat center center;
  background-size: 852px 500px;
  position: absolute;
  top: 4px;
  right: 0;
}
/* 18335182396 */
           aside  div{

               width: 200px;
               height: 31.25px;
               padding-left: 14px;
               box-sizing: border-box;
               line-height: 31.25px;
               color: #000000;
               font-size: 12px;

           }

           aside  div  span{

               font-family: 'iconfont';
               color: #757271;
               margin-right: 8px;
           }

           aside  div:hover   span{
               color: #dd2727;

           }


           aside  div:hover{

               color: #dd2727;
               background: #fff;
           }


           .daohang  li a {
              z-index: 100;
               position: relative;






           }

           .daohang  li{


               z-index: 200;

           }

           .tanchu {

               width: 40px;
               height: 15px;
               position: absolute;
               background: url(../img/2.png)  no-repeat  center center;
               background-size: 40px 15px;

               transition: all  0.3s  ease ;

                visibility: hidden;
                z-index: 1;
               left: 0;
               right: 0;
               margin-right: auto;
               margin-left: auto;

               top: -5px;


           }

           .daohang  li:hover  .tanchu{

               transform: translateY(-8px);

               visibility: visible;

           }



.banner-right{
   display: none;
   position: absolute;
   right: 40px;
   top:10px;
   width: 220px;
   height: 235px;
   background: #e9c9b3;
}

           .banner-right2{

               top: 255px;
           }

           .banner-right img{
               width: 220px;
               height: 235px;


           }

           .guding{

               width: 35px;
               height: 100%;
               background: #000000;
               position: fixed;
               right: 0;
               top:0;
           }

           .guding-1{

               margin-top: 230px;

               font-family: 'iconfont';
               font-size: 12px;
               width: 35px;
               height: 35px;
              line-height: 35px;
               text-align: center;
               background: #000;

               color: #fff;


           }

           .guding-1:hover{


               background: rgba(242,242,242,0.7);

           }
           .guding-2{
               width: 35px;
               height: 100px;
               padding: 0  5px  ;
               box-sizing: border-box;


               margin-top: 0;

           }

           .che{

                  width: 25px;
                  height: 98px;
                  border-top: 1px solid  #444444;
                  border-bottom: 1px solid  #444444;


           }


           .che-tu{
               font-family: 'iconfont';

               font-size: 16px;
               color:#cc0000;
               height: 16px;
               text-align: center;
               margin-top: 10px;




           }
           .che-zi{
               font-size: 12px;
               height: 12px;
               text-align: center;
               color: #ffffff;
               margin-top: 5px;


           }

           .guding-2:hover{

               background: #cc0000;
               color: #ffffff;
           }

           .guding-2:hover  .che-tu{


               color: #fff;
           }

           .guding-3{

               display: block;
               margin: 5px 0;

               width: 35px;
               height: 35px;


               font-family: 'iconfont';

               font-size: 18px;
               color: #fff;
               text-align: center;
               line-height: 35px;

           }

           .guding-4{

              margin: 0 0;

               position: absolute;
               bottom:70px;
               right:0;

           }



           .guding-5{


               bottom:36px;
           }

           .guding-6{

               bottom:0px;
           }



           /*banner从此结束*/

           .guding{

               width: 35px;
               height: 100%;
               background: #000000;
               position: fixed;
               right: 0;
               top:0;
           }

           .guding-1{

               margin-top: 230px;

               font-family: 'iconfont';
               font-size: 12px;
               width: 35px;
               height: 35px;
              line-height: 35px;
               text-align: center;
               background: #000;

               color: #fff;


           }

           .guding-1:hover{


               background: rgba(242,242,242,0.7);

           }
           .guding-2{
               width: 35px;
               height: 100px;
               padding: 0  5px  ;
               box-sizing: border-box;


               margin-top: 0;

           }
  .che{

                  width: 25px;
                  height: 98px;
                  border-top: 1px solid  #444444;
                  border-bottom: 1px solid  #444444;


           }


           .che-tu{
               font-family: 'iconfont';

               font-size: 16px;
               color:#cc0000;
               height: 16px;
               text-align: center;
               margin-top: 10px;




           }
           .che-zi{
               font-size: 12px;
               height: 12px;
               text-align: center;
               color: #ffffff;
               margin-top: 5px;


           }

           .guding-2:hover{

               background: #cc0000;
               color: #ffffff;
           }

   .guding-2:hover  .che-tu{


               color: #fff;
           }

           .guding-3{

               display: block;
               margin: 5px 0;

               width: 35px;
               height: 35px;


               font-family: 'iconfont';

               font-size: 18px;
               color: #fff;
               text-align: center;
               line-height: 35px;

           }

           .guding-4{

               bottom:70px;
               right:0;

           }



           .guding-5{


               bottom:36px;
           }

           .guding-6{

               bottom:0px;
           }






#zi1{
	font-size: 20px;
	color: #ffffff;
}
.zhu1{
	width: 100%;
	height: 500px;
	background: #dbe5ee;
}
.zhu2{
	width: 1190px;
	height: 100%;
	background: red;
	margin : 0 auto;
}
.zhu3{
	width: 100%;
	height: 31px;
	background: #ececed;
}
.zhu4{
	width: 38px;
	height: 100%;
	background: #dbe5ee;
	opacity: 0;
	float: left;
}
.zhu3 .z{
	color: #000;
	line-height: 31px;
}
.zhu3:hover{
	color: red;
	background:white; 
}
.zhu3:hover .z{
	color: red;
}
.zhu5{
	width: 990px;
	height: 100%;
	background: yellow;
	float: left;
}
.zhu6{
	width: 100%;
	height: 526px;
	background: yellow;
}
.zhubu7{
	width: 1230px;
	height: 526px;
	background: pink;
	margin-left:79px;
	text-align: center;
}







           .section1{

                 width: 100%;
                 height:auto ;

                 background: #f5f5f5;
                 padding: 60px  0  30px;
                 overflow: hidden;/*此处注意bage问题*/
                 box-sizing: border-box;


           }

           .section1-main{
              width: 1230px;
               height: auto;
               margin: 0  auto;
               background: #ffffff;


           }


           .section1-left{
               width: 488px;
               height: 435px;
               float: left;



               background: #050505;
           }

           .section1-right{
               width: 488px;
               height: 435px;
               margin-left: 10px;
               float: left;
           }

           .logo3{

               width: 121px;
               height: 108px;
               float: left;
               border-right: 1px  solid #f5f5f5;
               border-bottom:1px solid  #f5f5f5;

               position: relative;
           }

           .logo4{

               border-right: 0;
           }

           .logo3  img{
               width: 121px;
               height: 108px;

           }

           .logo5{

               border-bottom: 0;
           }
.qulogo{
  display: none;
}
           .section-left-top{

               width: 488px;
               height: 275px;
               margin-bottom: 9px;
               position: relative;



           }
           .xuanzhuan{
               width: 120px;
               height: 108px;
               background: #ffffff;
               float: left;
          }
            .xuanzhuan1{
               width: 26px;
               height: 23px;
               /* background: red; */
               float: left;
               margin-top: 43px;
               margin-left: 47px;
          }
          .xuanzhuan2{
               width: 47px;
               height: 16px;
               /* background: green; */
               float: left;
               margin-top: 8px;
               margin-left: 37px;
          }

          
          .xuanzhuan2zi{
            margin-left: 7px;
          }

          .xuanzhuan:hover .xuanzhuan1{
             
              animation: xuanzhuan 1s ease 1;
          }



             @keyframes  xuanzhuan{
            from {
              transform: rotate(0deg);
            }
            to {
              transform: rotate(360deg);
            }

          }

          .xuanzhuan:hover .xuanzhuan2  a{
               color: #dd2727;
          }

           .section-left-top  img{

               width: 488px;
               height: 275px;
               display: block;
           }

           .section-left-middle{

                width: 488px;
               height: 90px;





           }

           .section-left-middle  div{

               width: 160px;
               height: 90px;
               float: left;
               margin-right: 4px;

               position: relative;
           }

           .section-left-middle  div:last-child{


               margin-right: 0;
           }



           .section-left-middle  img{

               width: 160px;
               height: 90px;
           }


           .section-left-bottom{
               width: 488px;
               height: 62px;
               padding: 15px  0  15px   22px ;
               box-sizing: border-box;



           }

           .live{

                width: 80px;
               height: 32px;
               float: left;
               margin-right: 9px;
           }

           .live  img{

               width: 80px;
               height: 32px;

           }

           .gundong-zi{

               width: 202px;
               height: 32px;
               font-size: 12px;
               color: #ffffff;
               float: left;
               line-height: 32px;

           }

           .gundong-zi  span{

               font-size: 12px;
               color: #bf3978;
               
           }


           .anniu{
                width: 70px;
               height: 56px;
               display: block;
               position: absolute;
               background: url(../img/25.png) no-repeat center  center;
               background-size: 70px;
               top: 103px;
               left: 215px;


           }


           @keyframes  suofang{

               from{

                   transform: scale(1.5);
               }

               to{
                   transform: scale(1);

               }

           }

           .section-left-top:hover  .anniu{

               animation: suofang 0.2s  ease 1 forwards running;
           }



           .anniu2{
               width: 36px;
               height: 30px;
               display: block;
               position: absolute;
               background: url(../img/25.png) no-repeat center  center;
               background-size: 36px;
               top: 30px;
               left: 62px;
               visibility: hidden;


           }


           .anniu3{


               visibility: visible;
           }


           .section-left-middle  div:hover  .anniu2{

               animation: suofang 0.2s  ease 1 forwards running;
               visibility: visible;

           }

           .right-top{

               position: absolute;
               width: 49px;
               height: 20px;
               border-radius: 9px;
               background: rgba(58,55,49,0.7);
               top:15px;
               right: 16px;
           }

           .hongyuan{

               width: 8px;
               height: 8px;
               border-radius: 50%;
               background: #fe4779;
               margin-left: 6px;
               margin-right: 2px;
               float: left;
               margin-top: 6px;
           }

           .huibo{

               width: 24px;
               height: 12px;
               line-height: 12px;
               margin-top: 4px;
               font-size: 12px;
               color: #fff;
               float: left;
           }

           .dianji{

               width: 100%;
               height: 100%;
               position: absolute;
               top:0;
               left: 0;
               background: rgba(58,55,49,0.7);

               visibility: hidden;

           }

         .logo3:hover .dianji{

             visibility: visible;
         }



           .xinxing{

               height: 12px;
               line-height: 12px;

               float: right;
               margin-right: 12px;
               margin-top: 13px;
           }
           .xinxing a{

               font-family: 'iconfont';
               font-size: 12px;
               color: #fff;
           }

           .dianji-zi{

               float: left;
               margin-top: 39px;
               margin-left: 27px;
               font-size: 12px;
               height: 12px;
               line-height: 12px;
               color: #fff;
           }

           .dianji-zi2{

               width: 63px;
               height: 18px;
               border-radius: 8px;
               text-align: center;


               background: #ff0000;
               float: left;
               margin-left: 29px;
               margin-top: 11px;


           }

           .dianji-zi2 a{
               display: block;
               color: #fff;
               font-size: 12px;
           }



   /*content2  从此开始*/


           .content2{


               width: 100%;

               height: auto;

               background: #f5f5f5;
           }


           .content2  main{
               width: 1230px;
               height: 477px;
               margin:  0  auto;


           }

           .content2  li{

               width: 238px;
               height: 477px;
               float: left;
               background: #fff;
               margin-right: 10px;
           }

            
           .content2  li:last-child{
              display: none;
               margin-right: 0;
           }

           .content2-top{

                  width: 238px;
                   height: 36px;
              background: #dd2727;

               line-height: 36px;
               text-align: center;
               font-size: 18px;
               color: #ffffff;

           }


           .content2-xian{

               width: 200px;
               height: 1px;
               margin: 0 auto;

               background: #eeeeee;
           }

           .content2-tu{

               width: 238px;
               height: 220px;

               overflow: hidden;


           }
           .content2  .zi-1{

               width: 238px;
               height: 24px;
               line-height: 24px;
               font-size: 24px;
               text-align: center;
               margin-top: 19px;

               color: #000000;
           }

           .content2  .zi-2{

               width: 238px;
               height: 14px;
               line-height: 14px;
               font-size: 14px;
               text-align: center;
               margin-top: 5px;

               color: #888888;
           }

           .content2  .img{

               width: 140px;
               height: 140px;


               margin: 0 auto;

               margin-top: 8px;

               transition: all  0.3s  ease;

           }

           .content2   .content2-tu:hover   .img{

               transform: scale(1.05);

           }


           .content2   img{

               width: 140px;
               height: 140px;

           }


           .chatu2{

               width: 100%;
               height: auto;
               background: #f5f5f5;

               overflow: hidden;



           }

           .chatu2  a{

               display: block;

               width: 1230px;
               height: 90px;
               margin: 0 auto;

               margin-top: 10px;

               background: url(../img/1.jpg)  no-repeat  center  center;

               background-size: cove;
           }
 .chatu2  a{

               display: block;

               width: 1230px;
               height: 90px;
               margin: 0 auto;

               margin-top: 10px;

               background: url(../img/1.jpg)  no-repeat  center  center;

               background-size: cove;
           }

           .content3{


               width: 100%;
               height: auto;
               background: #f5f5f5;

               overflow: hidden;

           }


           .content3  main{
               width: 1230px;
               height: 400px;
               margin: 0 auto;
               margin-top: 30px;
           }

           .nav4{

               width: 100%;
               height: 20px;
               margin-bottom: 10px;

           }

           .nav4-left{

               float: left;
               height: 20px;
               border-left: 5px  solid  #ea5f8d;
               padding-left: 10px;
               box-sizing: border-box;
               line-height: 20px;
               font-size: 16px;

               color: #000000;
           }

           .nav4-left span{

               font-size: 12px;


           }

           .nav-right{
               float: right;
               height: 20px;
               line-height: 20px;
               margin-right: 250px;
           }

           .nav-right  li{

               float: left;
               margin-right: 24px;
           }

           .nav-right  li:last-child{

               margin-right: 0;
           }
           .nav-right  li  a{


               color: #000;
               font-size: 12px;
           }

           .nav-right  li  a:hover{


              text-decoration: underline;
           }




           .conten3-bottom{


               width: 100%;
               height: 440px;

           }

           .bottom-left{
               float: left;
               width: 246px;
               height: 440px;
           }
           .bottom-left1{
               float: left;
               width: 246px;
               height: 440px;
               display: none;
           }


           .wenzi-box{


               width: 246px;
               height: 110px;

               background: rgba(234,95,141,0.7);

               position: relative;

               overflow: hidden;

           }


           .wenzi-box  .tianmao{

               position: absolute;
               width: 100%;
               height: 30px;
               background: url(../img/29.png)  no-repeat  center  0;

             bottom: 0;
               left: 0;



           }


           .wenzi-1{


               width: 246px;

               font-size: 22px;

               margin-top: 20px;
               text-align: center;
               color: #fff;
           }



           .wenzi-2{


               width: 246px;

               font-size: 18px;


               text-align: center;
               color: #fff;
           }

           .bottom-left  li{

               width: 244px;
               height: 220px;

               border-bottom: 1px  solid #f5f5f5;


               box-sizing: border-box;
               position: relative;

               background: #ffffff;
               border-left: 2px solid #f5f5f5;




           }




           .bottom-left  div:last-child{

               border-bottom: 0;
           }




           .bottom-left  .img{


               position: absolute;

               bottom: 0;
               right: 0;
               width: 154px;
               height: 154px;


               transition: all  0.4s  ease;

           }


           .bottom-left  li:hover  .img{


               transform: translateX(-4px);
           }


           .bottom-left  .img  img{


               width: 154px;
               height: 154px;

           }
           .banquan-tu1   img{

               width: 80px;
               height: 30px;
           }

.guding{
   width: 35px;
   height: 100%;
   background: #000000;
   position: fixed;
   right: 0;
   top:0;
   /* display: none; */
}
/* .gudingchu{
  display: block;
} */                  
.guding1{
     margin-top: 130px;
     font-family: 'iconfont';
     font-size: 12px;
     width: 35px;
     height: 35px;
     line-height: 35px;
     text-align: center;
     background: #000;
     color: #fff;
     position: relative;
}
.guding1 a{
     margin-top: 230px;
     font-family: 'iconfont';
     font-size: 12px;
     width: 35px;
     height: 35px;
     line-height: 35px;
     text-align: center;
     color: #fff;
     font-weight: bold;
     position: relative;
}
.guding .sd{
  font-size: 18px;
}
.zd{
    margin-top: 230px;
     font-family: 'iconfont';
     font-size: 12px;
     width: 35px;
     height: 35px;
     line-height: 35px;
     text-align: center;
     background: #000;
     color: #fff;
     position: relative;
}
.gd1{
  width: 90px;
  height: 35px;
  background: #494949;
  position: absolute;
  transition: all 0.6s ease;
  visibility: hidden;
  top: 0;
  left: -150px;
}
.gd11{
  width: 0px;
  height: 0px;
  border-top: 10px solid #494949;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid transparent;
  transform: rotate(270deg);
  position: absolute;
  transition: all 0.6s ease;
  visibility: hidden;
  top: 8px;
  left: -61px;
  
}
.guding1:hover .gd1{
  visibility: visible;
  transform: translateX(60px);

}
.guding1:hover .gd11{ 
  visibility: visible;
  transform: rotate(270deg) translateY(60px);
}
.guding .guding1:hover .gd1{
  visibility: visible;
  transform: translateX(60px);

}
.guding .guding1:hover .gd11{ 
  visibility: visible;
  transform: rotate(270deg) translateY(60px);
}
.guding1  .guding3  .guding4  .guding5{
  position: relative;
}
.ewm{
  width: 161px;
  height: 210px;
  background: url('../img/2017-05-09_120728.png') no-repeat center center;
  background-size: 161px 210px;
  display: none;
  position: absolute;
  top: -162px;
  left: -154px
} 
.guding1:hover .ewm{
  display: block;
}

           .guding1:hover{


               background: #c40000;

           }
           .guding12{
               width: 35px;
               height: 100px;
               padding: 0  5px  ;
               box-sizing: border-box;


               margin-top: 0;

           }

           .che{

                  width: 25px;
                  height: 98px;
                  z-index: 4;
                  border-top: 1px solid  #444444;
                  border-bottom: 1px solid  #444444;
                  position: relative;
           }
           .chejs{
                width: 365px;
                height: 450px;
                background: url('../img/2017-05-10_174755.png') no-repeat center center;
                background-size: 365px 450px;
                z-index: 3;
                box-shadow: 0px 10px 0px rgba(9, 9, 9, 0.4);
                display: none;
                position: absolute;
                top: -2px;
                left: -360px;
           }
           .che:hover .che-tu{

            margin-top: 18px;
            background: url('../img/2017-05-09_071315.png') no-repeat center center;
            width: 25px;
            height: 16px;
           }
           .che-tu{
               font-family: 'iconfont';
               font-size: 16px;
               color:#cc0000;
               height: 16px;
               text-align: center;
               /* margin-top: 10px; */
           }
           .che-zi{
               font-size: 12px;
               height: 12px;
               text-align: center;
               color: #ffffff;
               margin-top: 5px;
           }


/* 左边固定定位开始 */
.guding2:hover{
    background: #cc0000;
    color: #ffffff;
}
.guding2:hover  .che-tu{
    color: #fff;
}
.guding3{
    display: block;
    margin: 5px 0;
    width: 35px;
    height: 35px;
    font-family: 'iconfont';
    font-size: 18px;
    color: #fff;
    text-align: center;
    line-height: 35px;
}
.guding4{
    position: absolute;
    bottom:70px;
    right:0;
}
.guding5{
    bottom:36px;
}
.guding6{

    bottom:0px;
}
.guding2{
    display: none;
    width: 35px;
    height: 295px;
    left: 10px;
    bottom: 50px;
    position: fixed;
}
.guding2  li:first-child{
  background: #DD2727;
}
.guding2 li{
    width: 100%;
    height: 32.8px;
    background: #626262;
    border-bottom: 1px solid  #fff;
    box-sizing: border-box;
    font-size: 12px;
    text-align: center;
    line-height: 16.4px;
}
.guding2zi1{
    display: block;
    line-height: 32.8px;
}
.guding2 li  a{
    color: #fff;
}
.guding2  li:first-child:hover{
    background: #DD2727;
}
.guding2 li:nth-child(2):hover{
    background: #ea5f8d;
}
.guding2 li:nth-child(3):hover{
    background: #0aa6e8;
}
.guding2 li:nth-child(4):hover{
    background: #64c333;
}
.guding2 li:nth-child(5):hover{
    background: #f15453;
}
.guding2 li:nth-child(6):hover{
    background: #19c8a9;
}
.guding2 li:nth-child(7):hover{
    background: #000000;
}
.guding2 li:nth-child(8):hover{
    background: #DD2727;
}

.guding2  li:last-child{
    background: #ACACAC;
}
.guding2   li:last-child  a{
   font-family: 'iconfont';
   line-height: 32.8px;
   font-size: 24px;
}
/* 固定定位结束 */

           .bottom-left  .zi-top{

               position: absolute;
               top:25px;
               left: 25px;
               font-size: 18px;
               height: 24px;


               line-height: 24px;

               color: #000000;
           }

           .bottom-left  .zi-bottom{

               position: absolute;
               top:54px;
               left: 25px;
               font-size: 14px;
               height: 18px;


               line-height: 18px;

               color: #eb5fa9;
           }


           .bottom-right{

               width: 249px;
               height: 146px;


               border-bottom: 1px  solid #f5f5f5;
               box-sizing: border-box;
               overflow: hidden;
               position: relative;
               background: #fff;
           }


           .bottom-right2{

               border-bottom: 0;
           }

           .bottom-right-zi1{

                  font-size: 18px;
                  line-height:24px;
                  height: 24px;
                  margin-left:25px;
                  margin-top: 25px;
                  color: #000;

           }


           .bottom-right-zi2{

               font-size: 14px;
               line-height:18px;
               height: 18px;
               margin-left:25px;
               margin-top: 5px;
               color: #ea5f8d;

           }

           .bottom-right  .img2{


                position: absolute;
               right: 0;
               bottom:0;
               width: 100px;
               height: 100px;


               transition: all  0.2s  ease;


           }

           .bottom-right  .img2  img{

               width: 100px;
               height: 100px;
               display: block;

           }

           .bottom-right:hover  .img2{


               transform: translateX(-4px);


           }


           .bottom-left  .img3{

               width: 246px;
               height: 330px;

               position: relative;

           }

           .zhezhao{

               width: 246px;
               height: 330px;
               position: absolute;
               left: 0;
               top: 0;

               transition: all 1s  ease;


           }


           .img3:hover   .zhezhao{


               background: rgba(248,248,248,0.2);
           }



           .bottom-left  .img3   .wenzi-3{

               position: absolute;
               width: 246px;
               height: 30px;
               text-align: center;
               line-height: 30px;
               font-size: 14px;
               color: #000;
               background: rgba(250,248,247,0.7);
               left: 0;
               bottom: 0;
           }

           .bottom-left  .img3  img{

               width: 246px;
               height: 330px;
           }



           .tubiao{


               width: 100%;
               height: 69px;
               background: #f5f5f5;

           }

           .tubiao  div{


               width:112px;
               height: 69px;

               margin: 0  auto;
               background: url(../img/31.png)  no-repeat  center  center;

               background-size: 112px;
           }





           footer{


               width: 100%;
               height: 364px;
               background: #fff;


           }


           footer  main{


               width: 1190px;
               height: 100%;
               margin: 0  auto;

               overflow: hidden;

               position: relative;





           }


           .maotou{

               width: 68px;
               height: 65px;

               position: absolute;

               background: url(../img/34.png)   no-repeat  center  center  ;

               background-size: 68px;

               left: 45px;
               bottom:-20px;





           }


           .fuwu{


               width: 1190px;
               height: 100px;
               background: url(../img/6.jpg) no-repeat  center  center;
               background-size: 1190px;
               margin:25px  auto;
           }

           .fuwu  a{



               display: block;

               width: 297px;
               height: 100px;
               float: left;

               border-right: 1px  solid  #fff;
               box-sizing: border-box;
           }


           .footer-nav{

               width: 100%;
               height: 190px;
               padding-top: 22px;

               border-top: 1px solid  #ededed;

           }


           .footer-nav  ul{

                width: auto;
               height: auto;
               margin-right: 173px;

               float: left;


           }

           .footer-nav  ul  a{

               display: block;

               width: auto;

               font-size: 12px;
               margin-bottom:3px;
               color: #7c6464;

           }


           .footer-nav  ul li:first-child  a{


               font-size: 16px;
               margin-bottom:5px;
               color: #646464;

           }


           .footer-nav  ul:first-child{

               margin-left: 52px;
           }

           .footer-nav  ul:last-child{

               margin-right: 0;
           }


           .weixin{


               display: block;

               width: 105px;
               height: 105px;
               background: url(../img/32.png) no-repeat  center  0;
               background-size: contain;
           }


           .banquan{

               width: 100%;
               height: 199px;
               border-top: 2px  solid   #c40000;

               background: #000000;
           }


           .banquan  main{

               width: 1192px;
               margin: 0 auto;


           }



           .banquan-zi1, .banquan-zi2 {




               line-height: 25px;
               padding:5px  0;


           }


           .banquan-zi2{

               color: #fff;

           }





           .banquan-zi1 a ,.banquan-zi2  a{

               color:  #ffffff;

               font-size:12px;

           }


           .banquan-zi3{

               line-height: 25px;
               font-size: 12px;

               color: #a4a4a4;


           }


           .banquan-zi3 a{

               color: #a4a4a4;
               font-size: 12px;
               margin-right: 70px;
           }

           .banquan-zi4   div{

               color: #a4a4a4;

               font-size: 12px;

               line-height:25px;
           }


           .banquan-zi4   div  a{


               color: #a4a4a4;
           }

           .banquan-zi4-1 ,.banquan-zi4-2{


               float: left;
           }

           .banquan-zi4-1{


               margin-right: 70px;
           }

           .banquan-zi4  .tu{

               width: 20px;
               height: 20px;


                 background:url(../img/33.png)  no-repeat  center  center ;

               background-size: 20px;
               margin-right: 2px;

           }

           .banquan-zi4-2  div{

               float: left;
           }

           .banquan-zi4-2  a{

               display: block;
           }


           .banquan-zi5{

               line-height: 25px;
               color: #a4a4a4;
               font-size: 12px;
           }


           .banquan-zi5:before{
               content: "";
               display: block;
               height: 0;
               width: 0;
               line-height: 0;
               clear: both;
           }

           .banquan-tu1{

               display: block;

              width: 73px;
               height: 30px;

               float: left;
               margin-right: 14px;

           }


           .banquan-tu1   img{

               width: 73px;
               height: 30px;
           }


           .banquan-tu1{

               display: block;

               width: 80px;
               height: 30px;

               float: left;

           }


           .banquan-tu1   img{

               width: 80px;
               height: 30px;
           }



           .gudingdingwei2{

               width: 35px;
               height: 295px;

               left: 104px;
               bottom: 50px;
               position: fixed;

           }

           .gudingdingwei2 li{


               width: 100%;
               height: 32.8px;
               background: #626262;

               border-bottom: 1px solid  #fff;
               box-sizing: border-box;

               font-size: 12px;

               text-align: center;

               line-height: 16.4px;
           }

           .gudingdingwei2 li  a{


               color: #fff;
           }

           .gudingdingwei2 li:nth-child(2){
               background: #;

           }




           .gudingdingwei2  li:first-child{


               line-height: 32.8px;

               background: #DD2727;


           }

           .gudingdingwei2  li:nth-child(8){

               background: #DD2727;
           }

           .gudingdingwei2   li:last-child{

               background: #ACACAC;

           }

           .gudingdingwei2   li:last-child  a{


               font-family: 'iconfont';

               line-height: 32.8px;

               font-size: 24px;


           }


