@media screen and (min-width:1200px){
	.dingjs1{
		width: 1220px;
		padding: 0;
	}
	.dingjs121{
		width: 611px;
	}
	.tou{
		width: 1238px;
		padding: 0 24px;
	}
	.tou19{
		display: block;
	}
	.banner-img{
		padding: 0 12px;
	}
	nav{
		padding: 0 24px;
	}
	.dao1{
		width: 611px;
	}
	.dao2{
		width: 491px;
		margin-left: 130px;
	}
	.dao6 li .qubian{
		border-right: 1px solid #cccccc;
	}
	.dao6 li .shan{
		display: block;
		margin-top: 4px;
	}
	.banner main{
		width: 1238px;
		padding: 0;
	}
	.nav2{
		width: 1200px;
		margin-left: 12px;
	}
	.daohang{
		width: 1238px;
	}
	.nav2 .daohang li:nth-child(9){
		display: block;
	}
	.nav2 .daohang li:nth-child(10){
		display: block;
	}
	.nav2 .daohang li:last-child{
	    display: block;
	}
	.banner-box{
		width: 1160px;
	}
	.banner-img{
		width: 1160px;
		/* padding: 0 69px; */
	}
	.banner1{
        width: 1150px;
	}
	.imgbox{
	    width: 1200px;
	}
	.imgs{
	    width:1200px;
	}
	.banner-right{
	    display: block;
	}
	.section1-right{
		width: 732px;
	}
	.section1-main{
		width: 1230px;
		/* padding: 0; */
		padding: 0 69px;
	}
	.content2  main{
	    width: 1230px;
	    /* padding: 0 69px; */
    }
	.qulogo{
		display: block;
	}
	.content2  li:last-child{
	    display: block;
        margin-right: 0;
    }
    .content3  main{
        width: 1230px;
        padding: 0;
    }
    .bottom-left1{
        display: block;
    } 
    .nav-right{
        float: right;
        height: 20px;
        line-height: 20px;
        margin-right: 0;
    }
/*     .guding{
    	display: block;
    }
    .guding2{
    	display: block;
    } */
    .guding2{
	    /* display: block; */
	}
@media screen and (max-width: 1024px){
	.dingjs1{
		padding: 0 24px;
	}
	.tou{
		padding: 0 24px;
	}
	.tou19{
		display: none;
	}
	nav{
		width: 976px;
	}
	.dao6 li .shan{
		display: none;
	}
	.banner main{
		padding: 0 24px;
	}
	.nav2{
		padding: 0 12px;
	}
}